body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: wheat;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

div {
	display: flex;
	width: 100%;
	height: 100%;
}

.Main-Body {
	flex-direction: column;
}

.Main-Header{
    height: 10vh;
    justify-content: center;

}

.main-splitter {
	height: 2vh;
	background-color: black;
}

.Bouton-1 {
    background-color: #a1785c;
    height: 3vh;
    justify-content: center;
}

.Bouton-2 {
    background-color: #FDE992;
    height: 3vh;
    justify-content: center;
}

.Bouton-3 {
    background-color:#ee6b6e;
    height: 3vh;
    justify-content: center;
}

.Bouton-4 {
    background-color: white;
    height: 3vh;
    justify-content: center;
}



.Navigation-menu{
height: 3vh;
}

.nav-splitter {
	height: 2vh;
	background-color: black;
}

.space-to-intro{
    height: 5vh;
}

.Introduction-Title{
    justify-content: center;
    height: 15vh;
}

.Introduction-Content-Block{
    font-size: large;
    justify-content: space-around;
}

img{
    height: 50vh;
}

.Main-Footer{
    justify-content: center;
}

@media(max-width:1000px) {
	.Main-Body{
		height: auto;
	}
    .Introduction-Content-Block{
        flex-wrap: wrap;
    }
}
   